@{
    ViewBag.Title = "Configuration";
}

<div class="pure-g container">
    <div class="pure-u-1-4">
        <div class="l-box">
            <h3 class="configure-title">Step by step</h3>
            <ul class="configure-buttons">
                <li><a class="pure-button button-configuration" href="@Url.Action("ConfigureSlack", "Home")">Slack</a></li>
                <li><a class="pure-button button-configuration" href="@Url.Action("Configure", "Home")">Slash command</a></li>
                <li><a class="pure-button button-configuration" href="@Url.Action("Slackify", "Home")">Slackify</a></li>
                <li><a class="pure-button button-configuration" href="#">Try me!</a></li>
            </ul>
        </div>
    </div>
    <div class="pure-u-3-4">
        <div class="l-box">
            <h3 class="configure-title">Configurar Slack</h3>
            <div class="configure-title">
               Ingresar en "Gestionar aplicaciones" dentro del menu de configuraciones del canal.
                <p>
                    <img src="~/Content/Images/ConsigureSlack/slack1.png" alt="Configuraciones del canal" align="middle" style="width:281px;height:565px;">
                </p>
                Si ya tenemos instalada la aplicacion de Slash command, directamente seleccionamos "Integraciones personalizadas" y añadimos la configuración (estas integraciones no afectan al limite de integraciones del Slack gratuito). 
                <p>
                    <img src="~/Content/Images/ConsigureSlack/slack2.png" alt="Configuraciones del canal" align="middle" style="width:929px;height:278px;">
                </p>
                <p>
                    <img src="~/Content/Images/ConsigureSlack/slack3.png" alt="Configuraciones del canal" align="middle" style="width:988px;height:558px;">
                </p>
                Caso contrario primero sera necesario instalar dicha aplicación.
                <p>
                    <img src="~/Content/Images/ConsigureSlack/slack5.png" alt="Configuraciones del canal" align="middle" style="width:1180px;height:643px;">
                </p>
            </div>
        </div>
    </div>
</div>