@{
    ViewBag.Title = "Configuration";
}

<div class="pure-g contenedor">
    <div class="pure-u-1-4">
        <div class="l-box">
            <h3> 2 quintos</h3>
            <p>
                - Acceder a configuracion de Slack, agregar integracion de slash command (estas integraciones no afectan al limite de integraciones del Slack gratuito.
                - Configurar slash comand, poner token y URL de Slackify en Slack.
                - Configurar Slackify dependiendo de que pagina se haya elegido.
                - Probalo!
                - Remember this, en caso de querer editar algo / Metricas
            </p>
        </div>
    </div>
    <div class="pure-u-3-4">
        <div class="l-box">
            <h3>Configurar /command</h3>
            <div>
                Introducir token proporcionado <a href="https:\\slackify.it">@ViewBag.Endpoint</a> y la siguiente URL:
                <form class="pure-form pure-form-aligned">
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="token">Token</label>
                            <input id="token" type="text" placeholder="">
                        </div>
                        <div class="pure-control-group">
                            <label for="token">URL</label>
                            <input id="token" type="text" placeholder="">
                        </div>
                        <a class="pure-button" href="#">Add</a>

                    </fieldset>
                </form>
            </div>
            <h3>Configurar /command</h3>
            <div>
                Introducir token proporcionado <a href="https:\\slackify.it">@ViewBag.Endpoint</a> y la siguiente URL:
                <form class="pure-form pure-form-aligned">
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="token">Token</label>
                            <input id="token" type="text" placeholder="">
                        </div>
                        <div class="pure-control-group">
                            <label for="token">URL</label>
                            <input id="token" type="text" placeholder="">
                        </div>
                        <a class="pure-button" href="#">Add</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>