@{
    ViewBag.Title = "Configuration";
}

<div class="pure-g container">
    <div class="pure-u-1-4">
        <div class="l-box">
            <h3 class="configure-title">Step by step</h3>
            <ul class="configure-buttons">
                <li><a class="pure-button button-configuration" href="@Url.Action("ConfigureSlack", "Home")">Slack</a></li>
                <li><a class="pure-button button-configuration" href="@Url.Action("Configure", "Home")">Slash command</a></li>
                <li><a class="pure-button button-configuration" href="#">Slackify</a></li>
                <li><a class="pure-button button-configuration" href="#">Try me!</a></li>
            </ul> 
        </div>
    </div>
    <div class="pure-u-3-4">
        <div class="l-box">
            <h3 class="configure-title">Configurar /command</h3>
            <div class="configure-title">
                Introducir token proporcionado <a href="#">https://slackify.it/Endpoint/@ViewBag.Endpoint</a> y la siguiente URL:
                <form class="pure-form pure-form-aligned" action="/api/Configure" method="post">
                    <fieldset>

                        <div class="pure-control-group">
                            <label for="token">Token</label>
                            <input id="token" name="token" type="text" placeholder="">
                        </div>
                        <div class="pure-control-group">
                            <label for="url">URL</label>
                            <input id="url" name="url" type="text" placeholder="">
                        </div>

                        <div class="l-box miniSlack">
                            <div class="chat">
                                <div class="wrapper">
                                    <div class="image">
                                        <img src="~/Content/Images/slack_user.png" alt="octopus">
                                    </div>
                                    <div class="text">
                                        <div class="upper_line">
                                            <strong>Alex</strong> <span class="time">@ViewBag.Time</span>
                                        </div>
                                        <div class="lower_line" id="donde_poner">
                                            <em>Llena la URL para ver como se veria</em>
                                            
                                        </div>
                                    </div>
                                    <div class="msg_input_wrapper">
                                        <div class="msg_input">Holu!</div>
                                        <button type="button" class="plus_button">
                                            +
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input name="endpoint" type="hidden" value="@ViewBag.Endpoint">

                        <input class="pure-button" type="submit" value="Enviar...">

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        function debounce(func, wait, immediate) {
            var timeout;
            return function() {
                var context = this, args = arguments;
                var later = function() {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
            };
        };

        function mostrarTexto(data) {
            console.log(data);
        }

        function cuandoCambie() {
            var url = $('#url').val();
            $.get(url, null, mostrarTexto);

        }

        $('#url').change(cuandoCambie);

    </script>
}