@{
    ViewBag.Title = "Configuration";
}

<div class="pure-g container">
    <div class="pure-u-1-4">
        <div class="l-box">
            <h3>Step by step</h3>
            <p>
                <a class="pure-button button-configuration" href="#">Slack</a>
                <a class="pure-button button-configuration" href="#">Slash command</a>
                <a class="pure-button button-configuration" href="#">Slackify</a>
                <a class="pure-button button-configuration" href="#">Try me!</a>
            </p>
        </div>
    </div>
    <div class="pure-u-3-4">
        <div class="l-box">
            <h3>Configurar /command</h3>
            <div>
                Introducir token proporcionado <a href="https:\\slackify.it">@ViewBag.Endpoint</a> y la siguiente URL:
                <form class="pure-form pure-form-aligned">
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="token">Token</label>
                            <input id="token" type="text" placeholder="">
                        </div>
                        <div class="pure-control-group">
                            <label for="token">URL</label>
                            <input id="token" type="text" placeholder="">
                        </div>
                        <a class="pure-button" href="#">Add</a>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>