@{
    ViewBag.Title = "Configuration";
}

<div class="pure-g container">
    <div class="pure-u-1-4">
        <div class="l-box sidebar">
            <ul class="configure-buttons">
                <li><a class="pure-button button-configuration" href="#configure-slack">Slack</a></li>
                <li><a class="pure-button button-configuration" href="#slash-command">Slash command</a></li>
                <li><a class="pure-button button-configuration" href="#slackify">Slackify</a></li>
            </ul>
        </div>
    </div>
    <div class="pure-u-3-4">
        <div class="l-box">
            <div class="l-box">
                <a class="anchor" id="configure-slack"></a>
                <h2 class="configure-title">Configurar Slack</h2>
                <div class="configure-title">
                    Ingresar en <i>Gestionar aplicaciones</i> en el menu de configuraciones del canal. Si la aplicación de <b>Slash Commands</b> ya se encuentra instalada, seleccionar
                    <i>Integraciones personalizadas</i> y añadir la configuración (estas integraciones no afectan al limite de integraciones del Slack gratuito).
                    <div class="config-pic"><img src="~/Content/Images/ConsigureSlack/slack2.png" style="width: 100%;"></div>
                    <div class="config-pic"><img src="~/Content/Images/ConsigureSlack/slack3.png" style="width: 100%;"></div>
                    Caso contrario será necesario instalar dicha aplicación desde el <i>Directorio de aplicaciones</i>.
                    <div class="config-pic"><img src="~/Content/Images/ConsigureSlack/slack5.png" style="width: 100%;"></div>
                </div>
            </div>
            <div class="l-box">
                <a class="anchor" id="slash-command"></a>
                <h2 class="configure-title">Configurar /command</h2>
                <div class="configure-title">
                    A continuación introducir el siguiente token: "@ViewBag.Endpoint" y la URL escogida.
                    <form class="pure-form pure-form-aligned" action="/Home/AgregarALaDB" method="post">
                        <fieldset>
                            <div class="pure-control-group">
                                <label for="token" style="width: 0px">Token:</label>
                                <input id="token" name="token" type="text" placeholder="">
                            </div>
                            <div class="pure-control-group">
                                <label for="url" style="width: 0px">URL:</label>
                                <input id="url" name="url" type="text" placeholder="">
                            </div>

                            <input name="endpoint" type="hidden" value="@ViewBag.Endpoint">

                            @{
    string Disabled = "";
    if (Request.QueryString["endpoint"] != null)
    {
        Disabled = "disabled";
    }
                            }

                            <input class="pure-button submit" type="submit" value="Enviar" @Disabled>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="l-box">
                <a class="anchor" id="slackify"></a>
                <h2 class="configure-title">Go back to Slack!</h2>
                <div class="configure-title">
                    Seleccionar nombre para el comnado.
                    <div class="config-pic"><img src="~/Content/Images/ConsigureSlack/slack6.png" style="width: 100%;"></div>
                        Introducir la URL <a href="#">https://slackify.it/Endpoint/@ViewBag.Endpoint</a> y guardar la integracion.
                    <div class="config-pic"><img src="~/Content/Images/ConsigureSlack/slack7.png" style="width: 100%;"></div>
                        A disfrutar de tus nuevas interacciones personalizadas!
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(".configure-buttons a").on('click',
            function(e) {
                var url = e.target.href;
                var hash = url.substring(url.indexOf("#") + 1);
                $('html, body').animate({
                        scrollTop: $('#' + hash).offset().top
                    },
                    500);
                return false;
            });
    </script>
}