{
   ViewBag.Title = "Contact";
}

<div class="splash-container contact-container">
    <h2 class="contact-header is-center">Contact Us</h2>
    <hr class="contact-hr"/>
    <div class="container container-contact">

        <form action="@Url.Action("RecibirContacto", "Home")" method="post" id="form" class="topBefore">

            <input name="nombre" id="name" type="text" placeholder="NAME" required>
            <input name="mail" id="email" type="email" placeholder="EMAIL" required>
            <textarea name="mensaje" id="message" type="text" placeholder="MESSAGE" maxlength="140" required></textarea>
            <input type="submit" id="submit" value="SUBMIT">

        </form>

    </div>
</div>