@{
    ViewBag.Title = "Home Page";
}

<div class="splash-container">
    <div class="front-content">
        <div class="pure-g">
            <div class="l-box pure-u-md-2-3">
                <p class="subhead-image">
                    <img src="~/Content/Images/slash.png" alt="frontpage-image" align="middle" style="width:500px;height:260px;">
                </p>
            </div>
            <div class="l-box pure-u-md-1-3">
                <p class="subhead-front">
                    Para todos aquellos que quieran customizar sus espacios de trabajo por medio de la utilizacion de slash commands, it's time to...
                </p>
                <h1 class="subhead-tittle is-center">
                    Slackify it!
                </h1>
            </div>
        </div>
    </div>
</div>
