@{
    ViewBag.Title = "Home Page";
}

<div class="splash-container">
    <div class="front-content">
        <div class="pure-g">
            <div class="l-box pure-u-md-2-3">
                <p class="subhead-image">
                    <img src="~/Content/Images/slash.png" alt="frontpage-image" align="middle" style="width:514px;height:564px;">
                </p>
            </div>
            <div class="l-box pure-u-md-1-3">
                <h1 class="content-subhead is-center">
                    Slackify it!
                </h1>
                <p class="subhead-filler">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus scelerisque rhoncus neque at pellentesque. Ut non vestibulum purus. Praesent non varius erat. Vestibulum mollis varius tellus, at suscipit orci bibendum ac. In non feugiat lectus, dignissim mattis ante. Sed congue laoreet neque, non ullamcorper erat tempus a. Mauris id ex at nunc consequat aliquam at eget orci. Suspendisse dignissim sodales accumsan. In a erat a elit iaculis sagittis eget nec ligula. Morbi ut dui eget arcu porta maximus. Praesent et tincidunt magna, varius finibus nisl.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">¿Para qué? ¿Cómo? ¿Cuándo?</h2>

        <div class="pure-g">
            <div class="l-box pure-u-md-1-2">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Supongo que todo debe tener un titulo
                </h3>
                <p>
                    Breve descripción de como funciona la página, tal vez explicación del genero de paginas "... as a service"? y un
                    gif de como se veria en el chat de Slack.
                </p>
            </div>
            <div class="l-box pure-u-md-1-2">
                <p>
                    <img src="~/Content/Images/octopus.gif" alt="octopus" align="middle" style="width:400px;height:300px;">
                </p>
            </div>

        </div>
    </div>



    <div class="content">
        <h2 class="content-head is-center">Contact us</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" type="text" placeholder="Your Name">


                        <label for="email">Your Email</label>
                        <input id="email" type="email" placeholder="Your Email">
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">

                <h4>
                    <i class="fa fa-envelope-o"></i>
                    Contact Us
                </h4>
                <p>
                    cosito@email.com
                </p>

                <h4>
                    <i class="fa fa-magic"></i>
                    More Information (me malcope con los iconitos)
                </h4>
                <p>
                    No se, me parece medio al pedo la seccion, pero temo que quede todo muy vacio sino.
                </p>
            </div>
        </div>

    </div>
</div>