@{
    ViewBag.Title = "Pricing";
}


<div class=" container">
    <table class="pure-table">
        <thead>
            <tr>
                <th class="item-icon">Servicio</th>
                <th class="item-name"></th>
                <th class="item-price">Precio</th>
                <th class="item-description">Descripcion</th>
            </tr>
        </thead>

        <tbody>
            <tr class="pure-table-odd">
                <td>Barely Functional</td>
                <td><img style="float:left" src="/Content/Images/barely.png" height="50" width="50"></p></td>
                <td>$1</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec dui nec eros pellentesque pretium in non diam. Aliquam egestas elit ante, vehicula molestie magna accumsan sit amet. Phasellus at justo aliquet, sagittis nulla consectetur, eleifend nulla. </td>
            </tr>

            <tr>
                <td>E-commer ready</td>
                <td><img style="float:left" src="/Content/Images/ecom.png" height="50" width="50"></p></td>
                <td>$10</td>
                <td>Mauris porttitor placerat augue ut posuere. Curabitur eu velit quis lectus vestibulum pharetra a et velit. In non nunc a leo hendrerit vestibulum. Pellentesque et enim felis. Mauris eros lectus, semper tincidunt elit in, maximus laoreet lectus. Donec porttitor, lacus ac rutrum bibendum, purus mauris egestas enim, a rhoncus sapien eros ac magna. Vivamus faucibus bibendum condimentum. Nunc ac sapien vel nulla mollis commodo ac id nisl. Phasellus sapien purus, fermentum fringilla massa sit amet, consequat ultricies tortor.</td>
            </tr>

            <tr class="pure-table-odd">
                <td>Responsive first?</td>
                <td><img style="float:left" src="/Content/Images/smartphone.png" height="50" width="50"></p></td>
                <td>$100</td>
                <td>Praesent justo enim, vestibulum vel pharetra quis, congue vel nunc. Proin maximus turpis vel velit sollicitudin ultricies. Proin velit arcu, malesuada vitae iaculis sit amet, placerat auctor nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec ac est dui. Nullam sagittis congue ligula, quis rutrum mi mattis nec. </td>
            </tr>

            <tr>
                <td>Next Instagram</td>
                <td><img style="float:left" src="/Content/Images/profits.png" height="50" width="50"></p></td>
                <td>$1000</td>
                <td>Curabitur consectetur quam libero, eget rhoncus mauris eleifend vel. Vivamus non tortor eu nisi fermentum pharetra. Nullam egestas pretium arcu ut bibendum. In hac habitasse platea dictumst. Curabitur vel tellus imperdiet, porttitor sapien at, bibendum quam. Sed et magna varius, lacinia ante eu, varius risus. Vestibulum erat risus, rhoncus et aliquet eu, ultrices quis risus. Nulla vestibulum metus ligula, id mattis magna pretium eget. </td>
            </tr>
        </tbody>
    </table>
</div>