* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.7em;
    color: black;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: common-ligatures;
}

h1, h2, h3, h4, h5, h6, label { color: black; }

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.front-container {
    color: black;
    margin-top: 4em;
}

.l-box {
    padding: 0.5em;
}


.configure-title {
    color: black;
    margin-left: 45px;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.is-center { text-align: center; }

re-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

.pure-button {
    background-color: #4c9689;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.pure-button-primary {
    background: #41294c;
    color: white;
    border-radius: 5px;
    font-size: 120%;
}

.button-configuration {
    background-color: #4d394b;
    margin: 4px;
    width: 150px;
}

.configure-buttons { list-style-type: none; }

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.13);
}

.home-menu { background: white; }

.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: black;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a { color: white; }

.home-menu a { color: #fff; }

.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

.splash-container {
    background: white;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.subhead-image img {
    display: block;
    margin: auto;
    text-align: center;
}

.container {
    margin-top: 5em;
    padding-left: 1em;
    padding-right: 1em;
}

.footer {
    background: #4c9689;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 20;    
}

.social-media {
    float: right;
    margin-top: 5px;
}

.social-media ul {
    padding: 0;
    margin-bottom: 0 !important;
}

.social-media li {
    float: left;
    list-style: none;
    margin-left: 5px;
}

@media (min-width: 48em) {
    body {
         font-size: 16px;
    }

    .home-menu {
         text-align: left;
    }

    .home-menu ul {
         float: right;
    }

    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
         font-size: 250%;
    }

    .l-box-lrg {
         border: none;
    }
}

@media (min-width: 78em) {
    .splash-head {
         font-size: 300%;
    }
}

.container-contact {
    display: flex;
    flex-direction: row; /* make main axis horizontal (default setting) */
    justify-content: center; /* center items horizontally, in this case */
    align-items: center; /* center items vertically, in this case */
    height: 300px;
    margin: 3em;
}

.front-content {
    padding: 9em 1em 9em;
}